/* Flex Layout */
.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 23%;
    padding: 1%;
}

nav {
    width: 73%;
    padding: 1%;
}

ul {
    width: 50%;
    margin-left: auto;
}

section.heroImg {
    height: 600px;
    padding: 25px;
}

content {
    width: 500px;
    margin: 0 auto;
}

footer {
    background-color: #373738;
    text-align: center;
    padding: 20px 0;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li {
    display: inline-block;
    margin-right: 20px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

/* Grid Layout */
.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

/* Media Query */
@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr; /* Switch to a single column layout */
    }

    nav {
        width: 100%; /* Make navigation full width */
    }

    ul {
        width: 100%; /* Make the list full width */
    }
}
